@import "~bootstrap/dist/css/bootstrap.min.css";
ul{
  list-style-type: none;
  margin: 0;
  padding: 10px;

}

li{
  float: left;
  margin-left: 10px;
}

#input {
  width: 90%;
  max-width: 350px;
}
